<section id="custumers" class="section customers">
  <div class="container customers__container">
    <h2 class="section__title customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="feedback customers__feedback">
      <li class="feedback__item">
        <div class="feedback__rating">
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked.
          Group 42 is great, created a great product. I use it all the time,
          very easy and convenient to order.”
        </p>
        <div class="feedback__contact">
          <img src="./images/customers/feedback__contact-icon_1.png" alt="User icon" class="feedback__contact-icon" />
          <div class="feedback__contact-wrap">
            <p class="feedback__name">Sumith Shah</p>
            <p class="feedback__status">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="feedback__item">
        <div class="feedback__rating">
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
          <svg class="feedback__rating-icon" width="17" height="16">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <p class="feedback__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="feedback__contact">
          <img src="./images/customers/feedback__contact-icon_2.png" alt="User icon" class="feedback__contact-icon" />
          <div class="feedback__contact-wrap">
            <p class="feedback__name">Sumith Shah</p>
            <p class="feedback__status">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>