<footer id="footer" class="section footer">
  <div class="footer__bg">
    <div class="footer__container container">
      <div class="footer__top">
        <div class="footer__wrap">
          <a href="./index.html" class="footer__logo logo">
            <svg width="69" height="51">
              <use href="./images/icons.svg#icon-logo-1"></use>
            </svg>
          </a>

          <nav class="footer__nav footer-nav nav">
            <ul class="nav__list footer-nav__list">
              <li class="nav__item"><a href="./index.html" class="nav__link footer-nav__link">Home</a></li>
              <li class="nav__item"><a href="#hero" class="nav__link">About</a></li>
              <li class="nav__item"><a href="#offerings" class="nav__link">Service</a></li>
              <li class="nav__item"><a href="#favorites" class="nav__link">Menu</a></li>
              <li class="nav__item"><a href="#customers" class="nav__link">Contact</a></li>
            </ul>
          </nav>
        </div>

        <div class="footer__subscribe footer-subscribe">
          <b class="footer-subscribe__capture">Subscribe</b>
          <form class="footer-subscribe__form form-subscribe" action="">
            <div class="form-subscribe__wrap">
              <input class="form-subscribe__input" type="email" placeholder="Enter your email" />
              <div class="form-subscribe__warning warning">
                <svg class="warning__icon" width="12" height="12">
                  <use href="./images/icons.svg#icon-warning"></use>
                </svg>
                <span class="warning-text">Not a valid email address (example@email.com)</span>
              </div>
            </div>
            <button class="form-subscribe__btn" type="submit">Subscribe</button>
          </form>
          <p class="footer-subscribe__privacy">
            By subscribing you agree to with our <a href="">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="footer__bottom terms">
        <ul class="terms__list">
          <li class="terms__item">
            <a class="terms__link" href="">Privacy Policy</a>
          </li>
          <li class="terms__item">
            <a class="terms__link" href="">Terms of Service</a>
          </li>
          <li class="terms__item">
            <a class="terms__link" href="">Cookies Settings</a>
          </li>
        </ul>
        <p class="terms__copy">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>