<header class="header">
  <div class="container header__conteiner">
    <a href="./index.html" class="logo header__logo">
      <svg width="71" height="52">
        <use href="./images/icons.svg#icon-logo-1"></use>
      </svg>
    </a>
    <button class="button-menu" type="button" data-menu-button aria-expanded="false">
      <svg class="menu" width="28" height="28">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="nav header__nav" data-menu>
      <ul class="nav__list">
        <li class="nav__item nav__item--current">
          <a href="./index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item"><a href="#hero" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#offerings" class="nav__link">Service</a></li>
        <li class="nav__item"><a href="#favorites" class="nav__link">Menu</a></li>
        <li class="nav__item"><a href="#custumers" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <button class="header__button" type="button" data-modal-open>Order Now</button>
  </div>
</header>