<section id="hero" class="section section--padding-bot hero">
  <div class="container">
    <h1 class="section__title hero__title">
      Enjoy Your Favorite Food From Anywhere
    </h1>
    <p class="hero__descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="hero__button" data-modal-open>
      Order Now
    </button>
    <div class="swiper-container">
      <div class="swiper-button-prev">
        <svg class="swiper-button-left">
          <use href="./images/icons.svg#icon-button-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-right">
          <use href="./images/icons.svg#icon-button-left"></use>
        </svg>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  ./images/hero/meatballs-desktop@1x.jpg 1x,
                  ./images/hero/meatballs-desktop@2x.jpg 2x
                " />
              <source media="(max-width: 1279px)" srcset="
                  ./images/hero/meatballs-tablet@1x.jpg 1x,
                  ./images/hero/meatballs-tablet@2x.jpg 2x
                " />
              <img src="./images/hero/meatballs-tablet@1x.jpg" alt="Meatballs" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  ./images/hero/salad-desktop@1x.jpg 1x,
                  ./images/hero/salad-desktop@2x.jpg 2x
                " />
              <source media="(max-width: 1279px)" srcset="
                  ./images/hero/salad-tablet@1x.jpg 1x,
                  ./images/hero/salad-tablet@2x.jpg 2x
                " />
              <img src="./images/hero/salad-desktop@1x.jpg" alt="Salad" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  ./images/hero/avocado-desktop@1x.jpg 1x,
                  ./images/hero/avocado-desktop@2x.jpg 2x
                " />
              <source media="(max-width: 1279px)" srcset="
                  ./images/hero/avocado-tablet@1x.jpg 1x,
                  ./images/hero/avocado-tablet@2x.jpg 2x
                " />
              <img src="./images/hero/avocado-desktop@1x.jpg" alt="Salad with avocado" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>