<section id="offerings" class="section offerings">
  <div class="container offerings__container">
    <div class="offerings__thumb">
      <picture class="offerings__pictures">
        <source srcset="
            ./images/offerings/apple-desktop-1x.png 1x,
            ./images/offerings/apple-desktop-2x.png 2x" media="(min-width: 1280px)" />
        <source srcset="
            ./images/offerings/apple-tablet-1x.png 1x,
            ./images/offerings/apple-tablet-2x.png 2x" media="(min-width: 768px)" />
        <source srcset="
            ./images/offerings/apple-mobile-1x.png 1x,
            ./images/offerings/apple-mobile-2x.png 2x" media="(min-width: 320px)" />
        <img src="./images/offerings/apple-desktop-1x.png" alt="green apple" />
      </picture>
    </div>
    <div class="offerings__content">
      <h2 class="section__title">What’s Special About Our Offerings</h2>
      <p class="offerings__subject">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list">
        <li class="offerings__item">
          <div class="offerings__svg">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="offerings__options">Fasest Delivery</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item">
          <div class="offerings__svg">
            <svg class="offerings__icon" width="32" height="32">
              <use href="./images/icons.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="offerings__options">Easy to order</h3>
          <p class="offerings__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="offerings__bottom">
        <button type="button" class="offerings__button" data-modal-open>Order Now</button>
        <div class="offerings__cover">
          <a class="offerings__info" href="">Read More
            <svg class="offerings__more" width="7" height="10">
              <use href="./images/icons.svg#icon-btn-more"></use>
            </svg>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>