.button-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 1000;

  width: 70px;
  height: 70px;
  border-radius: 50%;
  fill: $background-color;
  background: linear-gradient(130deg, #bbf330 50%, $main-color 50%);
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  //   visibility: hidden;
  transform: translateY(25px);
  cursor: pointer;
}

.button-top:hover {
  background-position: 99% 0;

}

.button-top--active {
  opacity: 1;
  //   visibility: visible;
  transform: translateY(0);
}