.feedback {}

.feedback__item {
  width: 100%;
  min-height: 180px;
  max-height: 247px;
  padding: 8px;
  background-color: $background-color;
  border-top-right-radius: 29px;
  border-bottom-right-radius: 29px;
  border-bottom-left-radius: 29px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    width: 336px;
    height: 244px;
    padding: 12px;
  }

  @media screen and (min-width: 1280px) {
    width: 501px;
    height: 227px;
    padding: 14px;
  }
}

.feedback__rating {
  display: flex;
  width: 101px;
  height: 16px;
  justify-content: space-between;
  margin-bottom: 28px;
}

.feedback__rating-icon {
  fill: $second-background-color;
}

.feedback__text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  @media screen and (min-width: 768px) {
    margin-bottom: auto;
    -webkit-line-clamp: 4;
    font-size: 18px;
  }

  @media screen and (min-width: 1280px) {
    -webkit-line-clamp: 3;
  }
}

.feedback__contact {
  display: inline-flex;
  align-items: center;
  min-width: 160px;
  height: 52px;
  border-right: 1px solid $main-color;

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

.feedback__contact-wrap {
  margin-left: 16px;
  margin-right: 13px;
}

.feedback__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.feedback__status {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}